:root {
    --color-primary: #15111A;
    --color-accent-1: #A25CFF;
    --color-accent-2: #00c0f0;
    --color-text: #E8E8E8;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-primary);
    background-image: radial-gradient(circle, rgba(162, 92, 255, 0.25) 1px, transparent 1px);
    background-size: 3rem 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Archivo", sans-serif;
    color: var(--color-accent-1);
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    color: var(--color-text);
    font-family: "IBM Plex Mono", monospace;
}

a {
    font-family: "IBM Plex Mono", monospace;
    color: var(--color-accent-1);
    text-decoration: none;
}

a:hover {
    color: var(--color-accent-2);
}

.paragraph-padding {
    padding-top: 0.75rem;
}

.indent {
    padding-left: 1rem;
}

#home {
    scroll-margin-top: 30vh;
}

#projects,
#about,
#contact {
    scroll-margin-top: 100px;
}

.bold-text {
    font-weight: 900;
}

.purple-text {
    color: var(--color-accent-1);
}

.button-styling {
    display: inline-block;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 0 1rem;
    cursor: pointer;
}

/* Button Animation */
.button-bg-slide::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease-in-out;
}

.button-bg-slide:hover::before,
.button-bg-slide:focus::before {
    transform: scaleX(1);
}

.button-bg-slide {
    position: relative;
    overflow: hidden;
    transition: color 300ms ease-in-out;
    z-index: 1;
}

/* Main Navigation Section */

.main-navigation {
    background-color: var(--color-primary);
    border-bottom: 1px solid var(--color-accent-1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    z-index: 999;
}

.nav-links-container>ul {
    display: flex;
    gap: 4rem;
    list-style-type: none;
}

.logo {
    width: 4rem;
    height: 4rem;
    color: var(--color-accent-1);
}

.logo:hover,
.logo:focus {
    color: var(--color-accent-2);
    transition: color 0.8s ease-in;
}

/* Hero Section */

.hero-container {
    margin: 30vh 5vw 20vh 10vw;
    height: 80vh;
}

.hero-container>h1 {
    font-size: clamp(3rem, 9vw, 8rem);
    letter-spacing: -0.04em;
    line-height: 0.95;
}

.hero-container>p {
    font-size: clamp(1rem, 6vw, 2rem);
    padding-left: 5rem;
    padding-top: 0.5rem;
    opacity: 70%;
}

.hero-blurb {
    width: 50%;
    margin-top: 5rem;
    margin-left: 3rem;
    padding-left: 1rem;
    border-left: 1px solid var(--color-accent-1);
}

@media (max-width: 650px) {
    .hero-blurb {
        margin-left: 1rem;
        width: 80%;
    }
}

.hero-blurb>p {
    color: var(--color-text);
}

.cta-work-button {
    margin-top: 1.5rem;
    margin-left: 6rem;
    border: 1px solid var(--color-accent-2);
    background-color: transparent;
    color: var(--color-text);
}

/* CTA Work Button Animation Colours */
.cta-work-button:before {
    background-color: var(--color-accent-2);
}

.cta-work-button:hover,
.cta-work-button:focus {
    color: var(--color-primary);
}

/* Projects Section */
.projects-container {
    margin-bottom: 20rem;
}

.projects-blurb-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 2.5rem auto;
}

.projects-blurb-container>p {
    padding-left: 1rem;
    border-left: 1px solid var(--color-accent-1);
    opacity: 70%;
}

.projects-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    width: 80vw;
    margin: auto;
}

@media (max-width: 1200px) {
    .projects-grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .projects-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 650px) {
    .projects-grid-container {
        grid-template-columns: 1fr;
    }
}

.projects-card {
    background: var(--color-primary);
    height: 55vh;
    border: 1px solid var(--color-accent-1);
    padding: 1em;
    border-radius: 0 1em 0 1em;
}

.projects-card:hover,
.projects-card:focus {
    border: 1px solid var(--color-accent-2);
    box-shadow: 0 0 0.8rem var(--color-accent-1),
        0 0 0.2rem var(--color-accent-2);
    transition: box-shadow 0.3s ease-in;
}

.projects-card>img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    border-radius: 0 1rem 0 1rem;
    padding-bottom: 1rem;
}

.projects-card>h3 {
    padding-bottom: 0.25rem;
}

/* About Section */
.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-text-container {
    flex: 1;
    color: var(--color-text);
    font-family: "IBM Plex Mono", monospace;
    border-top: 1px solid var(--color-accent-1);
    border-left: 1px solid var(--color-accent-1);
    padding: 2rem 0 0 2rem;
    margin-left: 10vw;
}

.about-text-container>p {
    padding-left: 1rem;
}

.about-text-container>p:first-of-type {
    opacity: 70%;
}

.about-image-container {
    flex: 1;
    height: 50vh;
}

.about-image-container>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about-line {
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 2rem;
    width: 60vw;
    height: 1px;
    background: var(--color-accent-1);
}

.about-bottom-line {
    margin: 0 auto;
    width: 50vw;
    height: 1px;
    background: var(--color-accent-1);
}

/* Contact Section */
.contact-container {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.contact-text>p:first-of-type {
    opacity: 70%;
}

.contact-text {
    flex: 1;
    text-align: center;
}

/* Footer Navigation Section */
footer {
    background-color: var(--color-primary);
    border-top: 1px solid var(--color-accent-1);
    margin-top: 4rem;
}

.footer-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem 5rem 2rem;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 0 auto;
}

.footer-grid-navigation>ul {
    display: flex;
    gap: 4rem;
    list-style-type: none;
}

.footer-grid-logo>a {
    font-family: "Archivo", sans-serif;
    font-weight: 800;
    font-size: 2em;
}

.footer-grid-socials {
    text-align: right;
}

.legal-container {
    text-align: center;
    padding-bottom: 1rem;
}

.legal-container>p {
    opacity: 70%;
    font-size: 0.75em;
    letter-spacing: 0.1em;
}